<md-dialog style="max-width: 100%;min-height: 100%; background: transparent; overflow: hidden;box-shadow: none" flex>
    <div layout="column" flex>
        <div layout="row" style="height: 40px;">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeImg()">
                <i class="zmdi zmdi-close" style="color:#efecca;font-size: 20px"></i>
                <md-tooltip>Close</md-tooltip>
            </md-button>
        </div>
        <div flex style="position: relative" layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-click="vm.changeImageLeft()">
                <i class="zmdi zmdi-chevron-left" style="color:#efecca;font-size: 20px"></i>
                <md-tooltip>Prev</md-tooltip>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.changeImageRight()">
                <i class="zmdi zmdi-chevron-right" style="color:#efecca;font-size: 20px"></i>
                <md-tooltip>Next</md-tooltip>
            </md-button>
            <img style="position: absolute;max-height:100%;max-width: 90%;" class="padding-left-40 padding-right-40"
                 ng-src="{{vm.curImg.Url}}" alt="">
        </div>
        <div layout="row" layout-align="center center"
             style="max-height: 100px;width: auto; overflow-x: auto; overflow-y: hidden;">
            <div layout="row" style="width:auto;">
                <div ng-repeat="image in vm.images" style="max-height: 100px;cursor: pointer;background: white;"
                     ng-click="vm.changeImage($index)" id="image-id-{{$index}}">
                    <img ng-src="{{image.Url}}" alt="" style="max-height: 100px;opacity: .7;" class="padding-left-10"
                         ng-class="{'image-active': image == vm.curImg}">
                </div>
            </div>
        </div>
    </div>
</md-dialog>
