
.signin-font{
    width: 380px;
    background-color: #ffffff;
    border-radius: 2px;
}
.deff-login{
    position: relative;
    top: -20px;
    width: 342px;
    height: 121px;
    margin: auto;
    background-color: #165d7f;
    border-radius: 3px;
    color :#ffffff;
}
.mau{
    color: #165d7f;
    font-size: 20px;
}
.boder-none{
    border: none;
    background-color: #ffffff;
}
.boder-none-nobg{
    border: none;
    background-color: #165d7f;
    color: #ffffff;
}
.shadow{
   // box-shadow: 10px 10px 10px #888888;
}
.padding{
    padding-left: 20px;
}
.margin{
    margin-top: 20px;
}
