<div class="content">
    <md-card class="margin-0 margin-bottom-10">
        <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
            <span class="padding-top-8 padding-left-10"><i class="zmdi zmdi-comment-text-alt"></i><span class="padding-left-10">{{am.titlehead1}}</span></span>
            <span flex></span>
        </md-toolbar>
        <div class="content padding-10" layout="column">
            <div ng-repeat="x in am.info1" class="padding-left-10">
                <div layout="column" class="padding-10">
                    <div layout="row">
                        <a href=""><i class="zmdi zmdi-folder-outline"></i><span class="padding-left-10">{{x.title}}</span></a>
                        <span flex></span>
                        <span>Thread:{{x.viewThread}}</span>
                    </div>
                    <div layout="row">
                        <span flex style="font-size: 15px">Newest: {{x.titleMini}}</span>
                        <span style="font-size: 15px">by a vào lúc 22/23</span>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </div>
    </md-card>
    <md-card class="margin-0 margin-bottom-10">
        <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
            <span class="padding-top-8 padding-left-10"><i class="zmdi zmdi-comment-text-alt"></i><span class="padding-left-10">{{am.titlehead1}}</span></span>
            <span flex></span>
        </md-toolbar>
        <div class="content padding-10" layout="column">
            <div ng-repeat="x in am.info1" class="padding-left-10">
                <div layout="column" class="padding-10">
                    <div layout="row">
                        <a href=""><i class="zmdi zmdi-folder-outline"></i><span class="padding-left-10">{{x.title}}</span></a>
                        <span flex></span>
                        <span>Thread:{{x.viewThread}}</span>
                    </div>
                    <div layout="row">
                        <span flex style="font-size: 15px">Newest: {{x.titleMini}}</span>
                        <span style="font-size: 15px">by a vào lúc 22/23</span>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </div>
    </md-card>
    <md-card class="margin-0 margin-bottom-10">
        <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
            <span class="padding-top-8 padding-left-10"><i class="zmdi zmdi-comment-text-alt"></i><span class="padding-left-10">{{am.titlehead1}}</span></span>
            <span flex></span>
        </md-toolbar>
        <div class="content padding-10" layout="column">
            <div ng-repeat="x in am.info1" class="padding-left-10">
                <div layout="column" class="padding-10">
                    <div layout="row">
                        <a href=""><i class="zmdi zmdi-folder-outline"></i><span class="padding-left-10">{{x.title}}</span></a>
                        <span flex></span>
                        <span>Thread:{{x.viewThread}}</span>
                    </div>
                    <div layout="row">
                        <span flex style="font-size: 15px">Newest: {{x.titleMini}}</span>
                        <span style="font-size: 15px">by a vào lúc 22/23</span>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </div>
    </md-card>
    <md-card class="margin-0 margin-bottom-10">
        <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
            <span class="padding-top-8 padding-left-10"><i class="zmdi zmdi-comment-text-alt"></i><span class="padding-left-10">{{am.titlehead1}}</span></span>
            <span flex></span>
        </md-toolbar>
        <div class="content padding-10" layout="column">
            <div ng-repeat="x in am.info1" class="padding-left-10">
                <div layout="column" class="padding-10">
                    <div layout="row">
                        <a href=""><i class="zmdi zmdi-folder-outline"></i><span class="padding-left-10">{{x.title}}</span></a>
                        <span flex></span>
                        <span>Thread:{{x.viewThread}}</span>
                    </div>
                    <div layout="row">
                        <span flex style="font-size: 15px">Newest: {{x.titleMini}}</span>
                        <span style="font-size: 15px">by a vào lúc 22/23</span>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </div>
    </md-card>
</div>
