<md-dialog class="mobile-fullwidth-dialog" flex style="min-width: 100%;min-height: 100%;">
    <md-toolbar class="toolbar-default">
        <div class="md-toolbar-tools">
            <h2>
                <span>New Post</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form name="newPost" novalidate>
            <md-input-container class="md-block" md-no-float>
                <input ng-model="vm.post.title" name="title" required placeholder="Title">
                <div ng-messages="newPost.title.$error">
                    <div ng-message when="required">
                        <span translate>Vui lòng nhập tiêu đề cho báo cáo</span>
                    </div>
                </div>
            </md-input-container>
            <textarea ckeditor ng-model="vm.post.content"></textarea>
        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.save()" class="md-primary" ng-disabled="newPost.$invalid" aria-label="save" >Save</md-button>
    </md-dialog-actions>
</md-dialog>
