.changecolor:hover{
    background-color: #e0e0eb;
}

.from-me p{
    color:white;
}


section.messenger-section {
    max-width: 550px;
    margin: 8px auto;

    div {
        max-width: 255px;
        word-wrap: break-word;
        margin-bottom: 20px;
        line-height: 24px;
    }
}

.clear {clear: both}
.from-me {
    position:relative;
    padding:1px 20px;
    color:white;
    background:#0B93F6;
    border-radius:10px;
    float: right;
}
.from-them {
    position:relative;
    padding:1px 20px;
    background:#E5E5EA;
    border-radius:10px;
    color: black;
    float: left;
    margin-left: -10px;

}

