<div class="width-size-responsive padding-top-10 padding-bottom-10">
    <div layout="row" layout-xs="column" style="background: rgba(255,255,255,0.4);">
        <div  flex="25">
            <md-card class="margin-right-0">
                <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
                    <span class="padding-top-8 padding-left-10"><span class="padding-left-10">Recently</span></span>
                    <span flex></span>
                </md-toolbar>
                <md-content style="height: 500px">
                    <md-list>
                        <div ng-repeat="item in vm.messenger" style="height: calc(100% - 100px)" class="changecolor">
                            <a href="" ng-click="vm.getMessage(item.id)">
                                <div layout="row" class="padding-left-10 padding-top-10">
                                    <img ng-src="{{item.avatar}}" style="width: 60px ; height: 60px"/>
                                    <div flex="60" layout="column" class="margin-left-10">
                                        <span class="margin-bottom-10">{{item.name}}</span>
                                        <span style="font-size: 13px ; color:#8b98ab;">{{item.contentMessenger}}</span>
                                    </div>
                                    <div style="color:#8b98ab;font-size: 12px" am-time-ago="item.time">
                                    </div>
                                </div>
                                <center><md-divider class="margin-top-10" flex="90" ng-if="!$last"></md-divider></center>
                            </a>
                        </div>
                    </md-list>
                </md-content>
                <div class="margin-bottom-10"></div>
            </md-card>
        </div>

        <div flex>
            <md-card>
                        <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
                            <span class="padding-top-8 padding-left-10"><span class="padding-left-10">{{vm.name}}</span></span>
                            <span flex></span>
                        </md-toolbar>
                        <md-content id="message_content" style="max-height: 400px"  scroll-glue="!glued">
                            <md-list ng-repeat="item in vm.inbox">
                                <section class="margin-bottom-0 margin-right-10">
                                    <div class="from-me margin-bottom-0 padding-right-0 padding-left-0" ng-if="item.author == 1">
                                        <p class="margin-10">{{item.messenger}}</p>
                                        <span ng-if="item.author == 1"style="color:#2a2b2c;font-size: 12px;float: right;" am-time-ago="item.time"></span>
                                    </div>
                                    <div class="clear margin-0"></div>

                                    <div class="from-them margin-bottom-0 padding-right-0 padding-left-10" ng-if="item.author != 1">
                                        <p class="margin-bottom-0">{{item.messenger}}</p>
                                        <span style="color:#2a2b2c;font-size: 12px" am-time-ago="item.time" ng-if="item.author != 1"></span>
                                    </div>
                                    <div class="clear margin-0"></div>

                                </section>
                            </md-list>
                        </md-content>
                                <md-input-container md-no-float class="md-block phao-input-noerror" style="position: relative"  ng-click="glued = !glued")>
                            <textarea rows="2" md-select-on-focus ng-model="comment.cmt" ng-init="comment.cmt =''"
                                      placeholder="Reply..."></textarea>
                                    <md-button class="md-icon-button margin-0" style="position: absolute; bottom: 0;right:0;"
                                               ng-click="vm.Postcmt(comment,$index)">
                                        <i class="zmdi zmdi-mail-send"></i>
                                        <md-tooltip>Send</md-tooltip>
                                    </md-button>
                                </md-input-container>
            </md-card>
        </div>

        <div flex="20">
            <md-card class="margin-left-0">
                <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light">
                    <span class="padding-top-8 padding-left-10"><span class="padding-left-10">Profile</span></span>
                    <span flex></span>
                </md-toolbar>
                <div layout="column" ng-repeat="item in vm.profile">
                    <md-card>
                        <img src="{{item.avatar}}"/>
                        <center><div>
                            <span>{{item.connection}}</span>
                            <span>Total Connections</span>
                        </div></center>
                    </md-card>
                    <div class="padding-10">
                        <span>Name :{{item.name}}</span><br>
                        <span>{{item.job}}</span>
                    </div>
                </div>
            </md-card>
    </div>
</div>
</div>
