<div layout="column" class="width-size-responsive">
    <md-toolbar layout-align="center" layout="row"
                class="md-toolbar-small toolbar-light margin-top-10 margin-bottom-10">
        <div class="breadcrumb">
            <div hide-xs layout="row">
                <span class="crust">
                    <md-button class="md-icon-button margin-0" ng-click="">
                        <i class="zmdi zmdi-home"></i>
                        <md-tooltip>Home</md-tooltip>
                    </md-button>
                    <span class="arrow"><span></span></span>
                </span>
                <div layout="row">
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="">
                        <span>Trang 2een daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra</span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
                <div layout="row">
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="">
                        <span>Trang 2een daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra</span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
                <div layout="row">
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="">
                        <span>Trang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daif</span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
            </div>
            <div hide show-xs>
                <md-menu>
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="$mdOpenMenu($event)">
                        <span>Breadcrumb</span>
                    </md-button>
                    <md-menu-content width="2" class="padding-top-0 padding-bottom-0">
                        <md-menu-item>
                            <md-button class="md-block margin-0 breadcrumb-button">Trang 1en daifTrang 2 teen daifTrang
                                2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-block margin-0 breadcrumb-button">trang en daifTrang 2 teen daifTrang 2
                                teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="">
            <i class="zmdi zmdi-widgets"></i>
            <md-tooltip>Form map</md-tooltip>
        </md-button>
    </md-toolbar>
    <div layout="row" layout-xs="column" style="background: rgba(255,255,255,0.4);" class="padding-right-10 padding-left-10 padding-top-10">
        <div ui-view flex></div>
        <div class="forum-right margin-left-10 margin-bottom-10" flex-xs="100" style="width: 250px;" layout="column">
            <md-card class="margin-0 margin-bottom-10" layout-xs="column">
                <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light"><span
                    class="padding-top-8">Phaojlar</span></md-toolbar>
                <div layout="column" class="padding-10">
                    <span>Số bài viết: 10000</span>
                    <span>Số lượt thích: 10000</span>
                    <span>Số lượt trả lời: 10000</span>
                </div>
            </md-card>
            <md-card class="margin-0 margin-bottom-10" layout-xs="column">
                <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light"><span
                    class="padding-top-8">Fraco-Viet career</span></md-toolbar>
                <div layout="column" class="padding-10">
                </div>
            </md-card>
        </div>
    </div>
    <md-toolbar layout-align="center" layout="row"
                class="md-toolbar-small toolbar-light margin-top-10 margin-bottom-10">
        <div class="breadcrumb">
            <div hide-xs layout="row">
                <span class="crust">
                    <md-button class="md-icon-button margin-0" ng-click="">
                        <i class="zmdi zmdi-home"></i>
                        <md-tooltip>Home</md-tooltip>
                    </md-button>
                    <span class="arrow"><span></span></span>
                </span>
                <div layout="row">
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="">
                        <span>Trang 2een daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra</span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
                <div layout="row">
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="">
                        <span>Trang 2een daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra</span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
                <div layout="row">
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="">
                        <span>Trang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daif</span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
            </div>
            <div hide show-xs>
                <md-menu>
                    <md-button class="md-block margin-0 breadcrumb-button" ng-click="$mdOpenMenu($event)">
                        <span>Breadcrumb</span>
                    </md-button>
                    <md-menu-content width="2" class="padding-top-0 padding-bottom-0">
                        <md-menu-item>
                            <md-button class="md-block margin-0 breadcrumb-button">Trang 1en daifTrang 2 teen daifTrang
                                2 teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-block margin-0 breadcrumb-button">trang en daifTrang 2 teen daifTrang 2
                                teen daifTrang 2 teen daifTrang 2 teen daifTrang 2 teen daifTra
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="">
            <i class="zmdi zmdi-widgets"></i>
            <md-tooltip>Form map</md-tooltip>
        </md-button>
    </md-toolbar>
</div>
