<div>
    <md-content>
        <div class="" layout="row" layout-align="start center">
            <md-content layout="row" layout-padding>
                <md-card-title-text flex layout="column">
                    <span class="md-headline">{{$root.user.name}}</span>
                    <span class="md-headline" style="font-size: 15px;color:tomato;text-decoration:inherit" translate="USER.ROLE.{{$root.user.role}}">USER.ROLE.{{$root.user.role}}</span>
                </md-card-title-text>
            </md-content>
        </div>
    </md-content>

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Users</h1>
    </md-toolbar>
    <md-content>
        <md-menu-item>
            <md-button href="#/admin/users/list"><md-icon md-font-icon="zmdi zmdi-accounts-alt" class="margin-right-0"></md-icon><span>User List</span></md-button>
        </md-menu-item>
    </md-content>

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Forum</h1>
    </md-toolbar>
    <md-content >
        <md-menu-item>
            <md-button href="#/admin/forum/categories"><md-icon md-font-icon="zmdi zmdi-layers" class="margin-right-0"></md-icon><span>Categories</span></md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button href="#/admin/forum/list-posts"><md-icon md-font-icon="zmdi zmdi-collection-image-o" class="margin-right-0"></md-icon><span>Posts</span></md-button>
        </md-menu-item>
    </md-content>
