.toolbar-logo{
  margin-right: 10px;
}
md-select-menu md-content{
  padding:0 !important;
}
md-select-menu md-content md-optgroup label{
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}
md-optgroup md-option {
  padding-left: 16px !important;
  padding-right: 16px !important;
}