#slider {
  position: relative;
  overflow: hidden;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: auto;
}
#slider ul li img{
  max-width:100%;
  width:100%;
}

a.control_prev, a.control_next {
  position: absolute;
  top: calc(40% - 20px);
  z-index: 999;
  display: block;
  padding: 10px;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
.index.header{
  position: relative;
  background: url(../assets/images/backgrounds/md-bg-1.jpg) no-repeat top center scroll;
  background-size: cover;
  width: 100%;
  padding: 0;
}
#spiders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
.background-radian{
  background: rgba(255,255,255,0.7) !important;
}

.index.md-headline{
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 720px) {
  .index.md-headline{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}