<form name="config">
<table>
    <tr>
        <td>Giá nâng cấp VIP</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Giá nâng cấp VIP" id="upgrade_vip" label="upgrade_vip" name="upgrade_vip" type="number"
                       ng-model="vm.config.upgrade_vip" required ng-min="0"/>
                <div ng-messages="config.upgrade_vip.$error" ng-if="config.upgrade_vip.$dirty || config.upgrade_vip.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Giá nâng cấp Platium</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Giá nâng cấp Platium" id="upgrade_pentium" label="upgrade_pentium" name="upgrade_pentium" type="number"
                       ng-model="vm.config.upgrade_pentium" required ng-min="0"/>
                <div ng-messages="config.upgrade_pentium.$error" ng-if="config.upgrade_pentium.$dirty || config.upgrade_pentium.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Giá tối thiểu chạy Facebook ads</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Giá tối thiểu chạy facebook ads" id="fb_min_budget" label="fb_min_budget" name="fb_min_budget" type="number"
                       ng-model="vm.config.fb_min_budget" required ng-min="0"/>
                <div ng-messages="config.fb_min_budget.$error" ng-if="config.fb_min_budget.$dirty || config.fb_min_budget.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Giá tối thiểu chạy Google ads</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Giá tối thiểu chạy Google ads" id="gg_min_budget" label="gg_min_budget" name="gg_min_budget" type="number"
                       ng-model="vm.config.gg_min_budget" required ng-min="0"/>
                <div ng-messages="config.gg_min_budget.$error" ng-if="config.gg_min_budget.$dirty || config.gg_min_budget.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Lượng từ khóa cho khách vãn lai</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Lượng từ khóa cho khách vãn lai" id="guest_keywork_ranking" label="guest_keywork_ranking" name="guest_keywork_ranking" type="number"
                       ng-model="vm.config.guest_keywork_ranking" required ng-min="0"/>
                <div ng-messages="config.guest_keywork_ranking.$error" ng-if="config.guest_keywork_ranking.$dirty || config.guest_keywork_ranking.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Lượng từ khóa cho khách hàng thường</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Lượng từ khóa cho khách hàng thường" id="basic_keywork_ranking" label="basic_keywork_ranking" name="basic_keywork_ranking" type="number"
                       ng-model="vm.config.basic_keywork_ranking" required ng-min="0"/>
                <div ng-messages="config.basic_keywork_ranking.$error" ng-if="config.basic_keywork_ranking.$dirty || config.basic_keywork_ranking.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Lượng từ khóa cho khách hàng VIP</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Lượng từ khóa cho khách hàng VIP" id="vip_keywork_ranking" label="vip_keywork_ranking" name="vip_keywork_ranking" type="number"
                       ng-model="vm.config.vip_keywork_ranking" required ng-min="0"/>
                <div ng-messages="config.vip_keywork_ranking.$error" ng-if="config.vip_keywork_ranking.$dirty || config.vip_keywork_ranking.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>Lượng từ khóa cho khách hàng Platium</td>
        <td>
            <md-input-container class="md-block" md-no-float>
                <input placeholder="Lượng từ khóa cho khách hàng Platium" id="pentium_keywork_ranking" label="pentium_keywork_ranking" name="pentium_keywork_ranking" type="number"
                       ng-model="vm.config.pentium_keywork_ranking" required ng-min="0"/>
                <div ng-messages="config.pentium_keywork_ranking.$error" ng-if="config.pentium_keywork_ranking.$dirty || config.pentium_keywork_ranking.$touched">
                    <div ng-message when="required"><span>Vui lòng nhập</span></div>
                    <div ng-message when="min"><span>Tối thiểu là 0</span></div>
                </div>
            </md-input-container>
        </td>
    </tr>
</table>
    <div layout="row" layout-align="center center">
        <md-button aria-label="save" ng-click="vm.saveConfig()" ng-disabled="!config.$dirty || config.$invalid" class="md-raised md-primary" translate="PROFILE.BUTTON"></md-button>
    </div>
</form>