<div id="user-list-go-bottom"></div>
<div layout="row" class="full-height">
    <!-- main content -->
    <div layout="column" flex>
        <!-- scrollable content -->
        <div layout="row" layout-xs="column">
            <div layout="row">
                <span style="padding: 8px;">Search by: </span>
                <md-select ng-model="vm.query.searchBy" ng-change="vm.query.page=1;vm.getData()"
                           class="md-no-underline margin-0">
                    <md-option value="title">Title</md-option>
                    <md-option value="author">Author</md-option>
                </md-select>
                <span style="padding: 8px;">Category: </span>
                <md-select ng-model="vm.query.role" ng-change="vm.query.page=1;vm.getData()"
                           class="md-no-underline margin-0">
                    <md-option ng-value="''">All</md-option>
                    <md-option ng-value="'AD'">Admin</md-option>
                    <md-option ng-value="'US'">candidate</md-option>
                    <md-option ng-value="'HH'">Head Hunt</md-option>
                    <md-option ng-value="'RE'">Recruiter</md-option>
                    <md-option ng-value="'JP'">Job posting</md-option>
                    <md-option ng-value="'BA'">Banned</md-option>
                </md-select>
                <md-input-container md-no-float class="md-block phao-input-noerror">
                    <input name="email" type="text" ng-model="vm.query.search" placeholder="Search text"
                           ng-change="vm.changeSearchText()">
                </md-input-container>
            </div>
            <div flex layout="row">
                <span flex></span>
                <span style="padding: 8px;">Rows per page: </span>
                <md-select ng-model="vm.query.limit" ng-change="vm.query.page=1;vm.getData()"
                           class="md-no-underline margin-0">
                    <md-option value="5">5</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="30">30</md-option>
                    <md-option value="40">40</md-option>
                    <md-option value="50">50</md-option>
                </md-select>
                <md-divider></md-divider>
                <span style="padding: 8px;">{{vm.posts.from}}-{{vm.posts.to}} of {{vm.posts.total}}</span>
                <md-button ng-disabled="vm.query.page == 1" class="md-icon-button" aria-label="More"
                           ng-click="vm.query.page=1;vm.getData()">
                    <i class="zmdi zmdi-skip-previous"></i>
                </md-button>
                <md-button ng-disabled="vm.query.page == 1" class="md-icon-button" aria-label="More"
                           ng-click="vm.query.page=vm.query.page-1;vm.getData()">
                    <i class="zmdi zmdi-chevron-left"></i>
                </md-button>
                <md-button ng-disabled="vm.query.page == vm.users.last_page" class="md-icon-button" aria-label="More"
                           ng-click="vm.query.page=vm.query.page+1;vm.getData()">
                    <i class="zmdi zmdi-chevron-right"></i>
                </md-button>
                <md-button ng-disabled="vm.query.page == vm.users.last_page" class="md-icon-button" aria-label="More"
                           ng-click="vm.query.page=vm.users.last_page;vm.getData()">
                    <i class="zmdi zmdi-skip-next"></i>
                </md-button>

                <md-button class="md-block margin-0" ng-class="{'md-raised md-warn': vm.edited == true}"
                           aria-label="More" ng-click="vm.saveUser()">
                    <span>Save</span>
                    <md-tooltip>Save</md-tooltip>
                </md-button>

            </div>
        </div>
        <div flex style="overflow: auto !important;">
            <div flex>
                <md-table-container flex>
                    <table md-data-table class="md-data-table" flex>
                        <thead md-order="vm.query.order" md-trigger="vm.onChangeFilter">
                        <tr>
                            <th class="padding-right-10 padding-left-10" name="No."></th>
                            <th class="padding-right-10 padding-left-10" name="Title" order-by="Title" decend-first></th>
                            <th class="padding-right-10 padding-left-10" name="Author" order-by="Author"></th>
                            <th class="padding-right-10 padding-left-10" name="Categories"></th>
                            <th class="padding-right-10 padding-left-10" name="Comments"></th>
                            <th class="padding-right-10 padding-left-10" name="Like"></th>
                            <th class="padding-right-10 padding-left-10" name="Date"></th>
                            <th class="padding-right-10 padding-left-10" name="Status"></th>
                        </tr>
                        </thead>
                        <tbody flex>
                        <tr ng-repeat="post in vm.posts" ng-class="{'user-item-edited': user.isEdit == true}">
                            <td class="padding-right-10 padding-left-10">{{(vm.query.page-1)*vm.query.limit +
                                ($index+1)}}
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <a ng-href="{{post.link}}">{{post.title}}</a>
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <span>{{post.author}}</span>
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <md-select class="md-no-underline margin-0"
                                           placeholder="Categories" ng-model="vm.test"
                                           style="width: 100px">
                                    <!--<md-option ng-value="item.id" ng-repeat="item in user.profile.cities">-->
                                        <!--{{item.name}}-->
                                    <!--</md-option>-->
                                </md-select>
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <md-button  class="md-block" ng-click="vm.viewcomments()" >{{post.comments}}</md-button>
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <span>{{post.likes}}</span>
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <span>{{post.date}}</span>
                            </td>
                            <td class="padding-right-10 padding-left-10">
                                <md-select ng-model="post.status" class="md-no-underline margin-0">
                                    <md-option value="1">Public</md-option>
                                    <md-option value="0">Ban</md-option>
                                </md-select>
                            </td>
                        </tr>
                        <tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>
</div>
