<div ng-if="$root.currentUser.role1!='RE'" class="wrapper">
    <!-- Box Basic Information -->
    <!--ng-if="$root.user.id ==  $root.profileUser"-->
    <md-card class="margin-0 margin-bottom-10" >
        <md-toolbar layout-align="center" layout="row" class="md-toolbar-small toolbar-light" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Basic Information</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-hide="vm.editInfo" ng-click="vm.edit('Info')">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>

            <!-- Button Save and Cancer -->
            <section layout="row" layout-wrap ng-show="vm.editInfo">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.save('Info')">
                    <i class="zmdi zmdi-check"></i>
                    <md-tooltip>Save</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="vm.changeInfo" ng-click="vm.cancer('Info')">
                    <i class="zmdi zmdi-close"></i>
                    <md-tooltip>Cancel</md-tooltip>
                </md-button>
            </section>
        </md-toolbar>
        <div class="content">
            <table layout-padding>
                <tr>
                    <td class="padding-right-20">Full Name</td>
                    <td>
                        <md-input-container md-no-float class="md-block phao-input-noerror" flex>
                            <input type="text" placeholder="Full Name" ng-model="vm.about.name"
                                   ng-change="vm.DisableCancer('Info')"
                                   ng-disabled="!vm.editInfo">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td class="padding-right-20">Gender</td>
                    <td>
                        <md-radio-group layout="row" ng-model="vm.about.gender" ng-change="vm.DisableCancer('Info')"
                                        ng-disabled="!vm.editInfo">
                            <md-radio-button class="md-primary" value="1">Male</md-radio-button>
                            <md-radio-button class="md-primary" value="0">FeMale</md-radio-button>
                        </md-radio-group>
                    </td>
                </tr>
                <tr>
                    <td class="padding-right-20">Birthday</td>
                    <td>
                        <md-datepicker ng-model="vm.about.birth" ng-change="vm.DisableCancer('Info')"
                                       ng-disabled="!vm.editInfo">
                        </md-datepicker>
                    </td>
                </tr>
                <tr>
                    <td class="padding-right-20">Job Position</td>
                    <td>
                        <md-select class="md-no-underline margin-0" ng-model="vm.about.profile.job_position"
                                   placeholder="Job Position" ng-change="vm.DisableCancer('Info')"
                                   ng-disabled="!vm.editInfo">
                            <md-option ng-repeat="item in vm.job_functions" ng-value="item.value">{{item.jf}}
                            </md-option>
                        </md-select>
                    </td>
                </tr>
                <tr>
                    <td class="padding-right-20">Headline</td>
                    <td>
                        <md-input-container md-no-float class="md-block phao-input-noerror" flex>
                            <input type="text" placeholder="Headline" ng-model="vm.about.headline"
                                   ng-change="vm.DisableCancer('Info')"
                                   ng-disabled="!vm.editInfo">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td class="padding-right-20">Contries</td>
                    <td>
                        <md-select ng-disabled="!vm.editInfo" style="width: 100px"
                                   placeholder="Country"
                                   ng-change="vm.changCity();vm.DisableCancer('Info')"
                                   ng-model="vm.about.profile.country_code"
                                   class="md-no-underline margin-0">
                            <md-option ng-repeat="item in vm.countries" ng-value="item.code">{{item.name}}
                            </md-option>
                        </md-select>
                    </td>
                </tr>
                <tr>
                    <td class="padding-right-20">City</td>
                    <td>
                        <md-select class="md-no-underline margin-0" ng-disabled="!vm.editInfo"
                                   placeholder="City" ng-model="vm.about.profile.city"
                                   ng-change="vm.DisableCancer('Info')"
                                   style="width: 100px">
                            <md-option ng-value="item.id" ng-repeat="item in vm.cities">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </td>
                </tr>
            </table>
        </div>
    </md-card>

    <!-- Box Contact Information -->
    <md-card class="margin-0 margin-bottom-10" >
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Contact Information</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-hide="vm.editContact" ng-click="vm.edit('Contact')">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>

            <!-- Button Save and Cancer -->
            <section layout="row" layout-wrap ng-show="vm.editContact">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.save('Contact')">
                    <i class="zmdi zmdi-check"></i>
                    <md-tooltip>Save</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="vm.changeContact" ng-click="vm.cancer('Contact')">
                    <i class="zmdi zmdi-close"></i>
                    <md-tooltip>Cancel</md-tooltip>
                </md-button>
            </section>
        </md-toolbar>

        <div class="content">
            <div class="row" layout="row" layout-padding>
                <span>Mobile Phone</span>
                <md-input-container md-no-float class="md-block phao-input-noerror" flex>
                    <input type="text" placeholder="Phone Number" ng-model="vm.about.profile.phone"
                           ng-change="vm.DisableCancer('Contact')" ng-disabled="!vm.editContact">
                </md-input-container>
            </div>

            <div class="row" layout="row" layout-padding>
                <span>Email Address</span>
                <md-input-container md-no-float class="md-block phao-input-noerror" flex>
                    <input type="text" placeholder="Email Address" ng-model="vm.about.email"
                           ng-change="vm.DisableCancer('Contact')" ng-disabled="!vm.editContact">
                </md-input-container>
            </div>
        </div>
    </md-card>

    <!-- Box Summary -->
    <md-card class="margin-0 margin-bottom-10" >
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Summary</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-hide="vm.editSummary" ng-click="vm.edit('Summary');v">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>
            <!-- Button Save and Cancer -->
            <section layout="row" layout-wrap ng-show="vm.editSummary">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.save('Summary')">
                    <i class="zmdi zmdi-check"></i>
                    <md-tooltip>Save</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="vm.changeSummary" ng-click="vm.cancer('Summary')">
                    <i class="zmdi zmdi-close"></i>
                    <md-tooltip>Cancel</md-tooltip>
                </md-button>
            </section>
        </md-toolbar>
        <div class="content">
            <div class="row" layout="row" layout-padding>
                <md-input-container md-no-float class="md-block phao-input-noerror" flex>
                <textarea rows="2" md-select-on-focus ng-model="vm.about.profile.summary"
                          ng-change="vm.DisableCancer('Summary')" ng-disabled="!vm.editSummary"
                          placeholder="Not have Summary"></textarea>
                </md-input-container>
            </div>
        </div>
    </md-card>

    <!--Languages-->
    <md-card class="margin-0 margin-bottom-10" >
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Languages</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.edit('Languages');">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>
        </md-toolbar>
        <div class="content">
            <table ng-if="vm.about.languages[0].id" class="content" layout-padding
                   style="width: 100%;text-align: center; ">
                <tr>
                    <th>No.</th>
                    <th>Language</th>
                    <th>Proficiency</th>
                    <th>Certificate</th>
                </tr>
                <tr ng-repeat="i in vm.about.languages">
                    <td><span>{{$index+1}}</span></td>
                    <td><span>{{i.db_language.name}}</span></td>
                    <td><span>{{i.proficiency}}</span></td>
                    <td><span>{{i.certificate}}</span></td>
                </tr>
            </table>
            <span ng-if="!vm.about.languages[0].id">Not have Language</span>
        </div>
    </md-card>

    <!-- Education -->
    <md-card class="margin-0 margin-bottom-10" >
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Education</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.edit('Education');v">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>
        </md-toolbar>
        <div class="content">
            <table ng-if="vm.about.educations[0].id" class="content" layout-padding
                   style="width: 100%;text-align: center; ">
                <tr>
                    <th>No.</th>
                    <th>School</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Grade</th>
                    <th>Degree</th>
                    <th>Field</th>
                </tr>
                <tr ng-repeat="i in vm.about.educations">
                    <td><span>{{$index+1}}</span></td>
                    <td><span>{{i.school_name}}</span></td>
                    <td><span>{{i.study_from}}</span></td>
                    <td><span>{{i.study_to}}</span></td>
                    <td><span>{{i.grade}}</span></td>
                    <td><span>{{i.degree}}</span></td>
                    <td><span>{{i.feild}}</span></td>
                </tr>
            </table>
            <span ng-if="!vm.about.educations[0].id">Not have Educations</span>
        </div>
    </md-card>

    <!-- Experience -->
    <md-card class="margin-0 margin-bottom-10">
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Experience</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.edit('Experience')">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>
        </md-toolbar>
        <div class="content">
            <table ng-if="vm.about.experiences.length" class="content" layout-padding
                   style="width: 100%;text-align: center; ">
                <tr>
                    <th>No.1</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Decription</th>
                </tr>
                <tr ng-repeat="i in vm.about.experiences">
                    <td><span>{{$index+1}}</span></td>
                    <td><span>{{i.company_name}}</span></td>
                    <td><span>{{i.location}}</span></td>
                    <td><span>{{i.work_from}}</span></td>
                    <td>
                        <span ng-if="i.currently=='0'">{{i.work_to}}</span>
                        <span ng-if="!(i.currently=='0')">Now</span>
                    </td>
                    <td><span>{{i.desc}}</span></td>
                </tr>
            </table>
            <span ng-if="!vm.about.experiences.length">Not have Experience</span>
        </div>
    </md-card>

    <!-- Box Certifications -->
    <md-card class="margin-0 margin-bottom-10" >
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">Certifications</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.edit('Certifications')">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>
        </md-toolbar>
        <table ng-if="vm.about.certifications[0].id" class="content" layout-padding
               style="width: 100%;text-align: center">
            <tr>
                <th>No.</th>
                <th>Certification</th>
                <th>Authority</th>
                <th>From</th>
                <th>To</th>
            </tr>
            <tr ng-repeat="certification in vm.about.certifications">
                <td><span>{{$index+1}}</span></td>
                <td><span>{{certification.name}}</span></td>
                <td><span>{{certification.authority}}</span></td>
                <td><span>{{certification.date_from}}</span></td>
                <td>
                    <span ng-if="(certification.unexpire=='0')">{{certification.date_to}}</span>
                    <span ng-if="!(certification.unexpire=='0')">Unexpire</span>
                </td>
            </tr>
        </table>
        <span ng-if="!vm.about.certifications[0].id">Not have Certification</span>
    </md-card>
</div>

<div ng-if="$root.currentUser.role1=='RE'" class="wrapper">
    <!-- About us -->
    <md-card class="margin-0 margin-bottom-10">
        <md-toolbar layout-align="center" class="md-toolbar-small toolbar-light" layout="row" ng-if="$root.user.id ==  $root.profileUser">
            <span class="padding-top-8 padding-left-10">About us</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.edit('AboutUs')">
                <i class="zmdi zmdi-edit"></i>
                <md-tooltip>Edit</md-tooltip>
            </md-button>
        </md-toolbar>

        <fieldset style="margin: 10px;">
            <legend>Short Description</legend>
            <div class="content">
                <div class="row" layout="row" layout-padding>
                    <md-input-container md-no-float class="md-block phao-input-noerror" flex>
                        <span>{{vm.about.headline}}</span>
                </div>
            </div>
        </fieldset>

        <fieldset style="margin: 10px;">
            <legend>Address</legend>
            <div class="content">
                <table layout-padding>
                    <tr>
                        <td>Adrress : </td>
                        <td><md-select ng-disabled="true" style="width: 100px"
                                       placeholder="Country"
                                       ng-model="vm.about.profile.country_code"
                                       class="md-no-underline margin-0">
                            <md-option ng-repeat="item in vm.countries" ng-value="item.code">{{item.name}}
                            </md-option>
                        </md-select>
                        </td>
                        <td>
                            <md-select class="md-no-underline margin-0" ng-disabled="true"
                                       placeholder="City" ng-model="vm.about.profile.city"
                                       style="width: 100px">
                                <md-option ng-value="item.id" ng-repeat="item in vm.cities">
                                    {{item.name}}
                                </md-option>
                            </md-select>
                        </td>
                    </tr>

                    <tr>
                        <td>Phone :</td>
                        <td><span>{{vm.about.profile.phone}}</span></td>
                    </tr>

                    <tr>
                        <td>Email :</td>
                        <td><span>{{vm.about.email}}</span></td>
                    </tr>
                </table>
            </div>
        </fieldset>

        <fieldset style="margin: 10px;" >
            <legend>Detail</legend>
            <div class="content">
                <div class="padding-10 forum-post-content" style="text-align: justify;"
                     ng-bind-html="vm.about.profile.summary"></div>
                <span ng-if="vm.about.profile.summary==''">Not have content</span>
            </div>
        </fieldset>
    </md-card>
</div>
